<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= material.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= material.quantity %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= material.instructor %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= material.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= material.check_out %>
  </p>

</div>
